Aegukga
src/gitalias/build/ 
src/gitalias/bin/
src/makehere/build/ 
src/makehere/bin/
src/makezip/bin/
src/makezip/install
src/makezip/build
src/build/ 
src/bin/
src/cli
src/obj.o
ccls-cache/ 
src/.clangd
src/test
src/backup 
src/Todo.md
src/a.out
src/cmain.o
src/makezip/test/
src/makezip/libzip
docs/
